@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F9FAFB] text-[#111827];
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 10px;
}

/* Hide the default arrows on number inputs */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}